<!-- <div class="base-class">
    <span class="text team-name">{{ data.home.name }}</span>
    <span class="text team-score">{{ data.home.score }}</span>
    <span class="text"> - </span>
    <span class="text team-score">{{ data.away.score }}</span>
    <span class="text team-name">{{ data.away.name }}</span>
</div> -->
<div class="container">
    <div class="team" id="home-team" ng-style=" {'background-image': 'url(https://flagpedia.net/data/flags/normal/' + data.home.name.toLowerCase() + '.png)'}">
        <div class="title">
            {{ data.home.name }}
        </div>
        <div class="score">
                {{ data.home.score }}
            </div>
    </div>
    <div class="vs">
        VS
    </div>
    <div class="team" id="away-team"ng-style=" {'background-image': 'url(https://flagpedia.net/data/flags/normal/' + data.away.name.toLowerCase() + '.png)'}">
        <div class="title">
            {{ data.away.name }}
        </div>
        <div class="score">
            {{ data.away.score }}
        </div>
    </div>
</div>
