.base-class {
    display: block;
    width: 100%;
    height: 50px;
    background-color: purple;
}

.text {
    color: white;
    font-weight: bold;
    display: inline-block;
    font-family: Arial;
    font-size: 36px;
    line-heigth: 50px;
}

html, body {
    margin:0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vs {
    font-size: 48px;
    font-style: italic;
    text-align: center;
    font-family: 'Montserrat';
}

.team {
    height: 100vh;
    width:50vw;
    background-color: blue;
    font-family: 'Montserrat';
    background-repeat: no-repeat;
    background-size: cover;
    
}

#home-team {
    text-align: left;
    -webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}



#away-team {
    text-align: right;
    -webkit-clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0% 100%);
}

.team .title {
    padding: 100px;
    font-family: 'Montserrat';
    font-size: 32px;
}

.team .score {
    font-size: 256px;
}
